FLASK_APP=run.py
FLASK_DEBUG=1
DATABASE_URL=postgresql://username:password@localhost:5432/password_manager
SECRET_KEY=your_secret_key_here
SUPABASE_URL=your_supabase_project_url
SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_JWT_SECRET=your_supabase_jwt_secret