@import "tailwindcss";

:root {
  --bg: #f4f6fb;
  --surface: #ffffff;
  --surface-2: #eef1f8;
  --text: #1f2440;
  --muted: #8a8fa3;
  --primary: #6c63ff;
  --primary-dark: #2b1b5a;
  --success: #22c55e;
  --danger: #ef4444;
  --border: #e3e7f2;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

* {
  box-sizing: border-box;
}

/* DARK MODE VARIABLES */
.dark {
  --bg: #0b1220;

  --surface: #111827;     /* THIS is what fixes your cards */
  --surface-2: #1f2937;

  --text: #f9fafb;
  --muted: #9ca3af;

  --primary: #8b85ff;
  --primary-dark: #6c63ff;

  --success: #22c55e;
  --danger: #ef4444;

  --border: #1f2937;
}